@model Requests.AddUnknownGrainRequest
@{
    ViewBag.Title = "Request Identification - Unknown Grain";
    ViewBag.Subtitle = "Upload a pollen grain or spore, for crowdsourced taxonomic identification.";
    Layout = "_Layout";
}

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Subtitle"]</p>
    </div></header>
}

<link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" >

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/d3/d3.min.js"></script>
    <script src="/lib/Jcrop/js/Jcrop.min.js"></script>
    <script src="/js/viewer/viewer.js"></script>
    <script src="/js/viewer/measuringline.js"></script>
    <script src="/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/identify/add.js"></script>
}

<form id="add-grain-form" novalidate>
    <div class="alert alert-danger" id="errors-box">
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 2em; width: 100%; text-align: center"></i>
            </div>
            <div class="col-md-11">
                <p id="errors"></p>
            </div>
        </div>
    </div>
    <div class="card identify-form-section" id="identify-sampling-section">
        <div class="card-header">
            1 - Choose Sampling Method    
        </div>
        <div class="card-block">
            <fieldset class="form-group row" id="identify-sampling-method">
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" name="identify-method-radio" id="identify-sampling-method-fossil" type="radio" value="fossil" checked>
                            A fossil pollen grain, or spore, obtained from a sedimentary sequence. 
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" name="identify-method-radio" id="identify-sampling-method-environmental" type="radio" value="environmental">
                            A pollen grain collected from the environment, for example from a pollen trap, bee, honey, or soil. This grain has not been fossilised.
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="card identify-form-section" id="identify-image-section">
        <div class="card-header">
            2 - Upload Image(s)
        </div>
        <div class="card-block">
            <label for="identify-image-upload-button">Select image(s) (Shift-Click/Ctrl-Click to select multiple)</label>
            <br>
            <input type="file" multiple="multiple" class="upload btn" id="identify-image-upload-button" />
            <div id="identify-image-configuration" style="display: none">
                <ul class="nav nav-tabs" id="identify-image-config-tabs" role="tablist">
                </ul>
                <div class="tab-content" id="identify-image-config-content">
                </div>
            </div>
        </div>
    </div>

    <div class="card identify-form-section" id="identify-location-section">
        <div class="card-header">
            3 - Location
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <label>Where was the pollen grain collected from? Click on the map to drop a pin in the correct location.</label>
                    <hr>
                    <div class="input-group">
                        <input type="text" readonly="readonly" id="latitude-input" class="form-control" placeholder="Latitude" />
                        <span class="input-group-addon">°</span>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly="readonly" id="longitude-input" class="form-control" placeholder="Longitude" />
                        <span class="input-group-addon">°</span>
                    </div>
                </div>
                <div class="col-md-9">
                    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAgqtjZFFlVtjmCIAwzNpYJBE2ltdaUhu8"></script>
                    <div id="map"></div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="card identify-form-section" id="identify-temporal-section">
        <div class="card-header">
            4 - Temporal Context
        </div>
        <div class="card-block">
            <div id="identify-temporal-fossil">
                <fieldset class="form-group" id="identify-temporal-fossil-type">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="identify-temporal-fossil-type" id="identify-temporal-fossil-radiocarbon" value="radiocarbon"> Radiocarbon (ybp)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="identify-temporal-fossil-type" id="identify-temporal-fossil-lead" value="lead"> Lead210 (ybp)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="identify-temporal-fossil-type" id="identify-temporal-fossil-unknown" value="unknown" checked> Unknown
                        </label>
                    </div>
                </fieldset>
                <div id="identify-temporal-fossil-value-section" style="display: none">
                    <hr>
                    <label for="identify-temporal-fossil-ybp">Years before present: </label>
                    <input type="number" name="identify-temporal-fossil-ybp" id="identify-temporal-fossil-ybp" placeholder="0"/>
                    <br>
                    <span><i>Baseline year is 1950</i></span>
                </div>
            </div>
            <div id="identify-temporal-environmental" style="display: none">
                <div class="form-group">
                    <label for="identify-temporal-environmental-year">What year was this sample collected?</label>
                    <input id="identify-temporal-environmental-year" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="upload-progress" class="progress" style="display:none">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <a id="submit" class="btn btn-primary" href="javascript: uploadGrain()">Add My Grain</a>
</form>