@model ReadModels.GrainSummary

<h2>Identify this Grain</h2>

<form asp-action="Identify" asp-controller="Grain">

<ul>
<li>Grain ID: @Model.Id</li>
<li>Thumbnail: @Model.Thumbnail</li>
</ul>

<input class="btn btn-secondary" type="submit"/>
</form>

<hr/>
<a class="btn btn-secondary" asp-action="Index" asp-controller="Grain">Back</a>