@model FSharpList<ReadStore.GrainSummary>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Global Pollen Project CQRS-DDD Prototype</h2>
<p>An example project using F# DDD / CQRS implementation, SQL Event Store (Write), and SQL Server (Read).</p>