@{
    Layout = "_Layout";
    ViewData["Title"] = "Access Denied";
}

@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    </div></header>
}

<p>You are not authorised to access this content.</p>

<a href="/" class="btn btn-default">Return to GPP Home</a>