@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<div class="row justify-content-center" style="text-align:center;margin: 12.5em 0 7.5em;">
    <div class="col-md-4">
    <i class="fa fa-bomb" aria-hidden="true" style="font-size: 6em;margin-bottom: 0.25em;"></i>
    <h4>Sorry, there's been a slight snag...</h4>
    <p>Your request didn't go through. You can try again, or please come back later. If this happens often, please let us know.</p>
    <a href="/">Get me back to the homepage...</a>
    </div>
</div>
