@{
    Layout = "_Layout";
    ViewData["Title"] = "Maintainance";
}

<div class="row justify-content-center" style="text-align:center;margin: 12.5em 0 7.5em;">
    <div class="col-md-4">
    <i class="fa fa-wrench" aria-hidden="true" style="font-size: 6em;margin-bottom: 0.25em;"></i>
    <h4>Under Temporary Maintainance</h4>
    <p>We're working on some changes, which have required us to take the Pollen Project offline. We will be back later today, so sit tight.</p>
    </div>
</div>
