@{
    Layout = "_Layout";
    ViewData["Title"] = "Not Found";
}

@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    </div></header>
}

<p>The page that you requested was not found, and may have moved.</p>

<a href="/" class="btn btn-default">Return to GPP Home</a>