
ul.backbone-list {
    list-style: none;
    padding-left: 0;
    height: 14em;
    overflow: scroll;

    li {
        padding: 1em 0;
        background: aliceblue;
        cursor: pointer;
        margin: 0.2em 0;
    }
}