#collection-list > li.list-group-item:hover {
    cursor: pointer;
}

#collection-list > li.list-group-item.active:hover {
    cursor: default;
}

#collection-add-slide-button {
    width: 100%;
}

#collection-publish-button {
    width: 100%;
}

#slidedetail-static-measurement-section {
    margin-bottom: 10px;
}

#slidedetail-static-year-section {
    margin-bottom: 10px;
}

#slidedetail-static-upload-progress {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#slidedetail-static-upload-progressbar {
    height: 100%;
}

#static-image-previewer {
    margin: 20px auto;
}

#static-image-previewer-canvas {
    
}

#static-image-previewer-measuring-line {
}

#slidedetail-no-calibrations-alert {
    margin-top: 10px;
}

#slidedetail-microscope-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#slidedetail-focus-year-section {
    margin-bottom: 10px;
}

span.year.active {
    background-color: $primary-color !important;
    background-image: none !important;
}

.paginate_button {
    padding: 5px 5px;
    margin: 2px 2px;
}

.paginate_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.paginate_button.disabled {
    color: $clr-text-primary;
}

.paginate_button.disabled:hover {
    text-decoration: none;
    cursor: default;
}

#focus-image-previewer {
    margin: 20px auto;
}