.guide-sections-card-deck {
    .card {
        border-top: 5px solid $primary-color;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        .card-block {
            text-align: center;

            i {
                font-size: 3em;
            }

        }
    }
}

.metadata {
    padding-bottom: 1em;
    border-bottom: 0.2px solid lightgrey;
    margin-bottom: 1em;

    img {
        border-radius: 100%;
        height: 2.5em;
        display: inline-block;
        margin-right: 0.5em;
    }

    span {
        display: inline-block;
    }

    .divider {
        margin: 0 0.2em;
    }
}

.sticky-sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 7em;

    nav {
        .nav-link {
            color: $primary-color;
            border-left: 2px solid transparent;
            padding: 4px 20px 4px 0;
        }

        .nav-link:hover, .nav-link:focus {
            color: $primary-color;                 
            text-decoration: none;          
            background-color: transparent;  
            // border-left-color: $primary-color;         
        }
    }
}

.guide-text {
    h3 {
        font-size: 1.4em;
        border-bottom: 0.5px solid lightgrey;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 1.4em;
    }
}