@{
    Layout = "_Layout";
    ViewData["Title"] = "Statistics";
    ViewData["Subtitle"] = "";
    ViewData["Description"] = "";
}

@section headerSection {
    <header>
        <div class="container">
            <h1 id="about">@ViewData["Title"]</h1>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}
<h3>Leaderboard</h3>
<p>Once a grain has been identified and transferred to the online reference collection all participating users will gain points
    both for themselves and their affiliated institutions. The number of points will be determined by the current score placed
    on an individual grain as as well as the level of taxonomic identification (i.e. more points will be awarded for a species
    level than a genus level identification).</p>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-users" aria-hidden="true"></i> Top organisations</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>GPP Total Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Long-Term Ecology Lab, University of Oxford</td>
                            <td>87</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> Top Users
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>GPP Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>W. Harvey</td>
                            <td>67</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>