@{
    Layout = "_Layout";
    ViewData["Title"] = "Statistics";
    ViewData["Subtitle"] = "";
    ViewData["Description"] = "";
}

@section headerSection {
    <header>
        <div class="container">
            <h2 id="about">@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}

<div class="row">
    <div class="col-md-12">
    </div>
</div>