@* Add Slide Modal *@
<div data-bind="BSModal: currentView() == CurrentView.ADD_SLIDE_RECORD, if: currentView() == CurrentView.ADD_SLIDE_RECORD" class="modal bd-example-modal-lg" role="dialog" 
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div data-bind="with: newSlideVM" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a Slide: Single</h5>
                <button type="button" class="close" aria-label="Close" data-bind="click: function() { $parent.switchView(CurrentView.MASTER); }">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>
                    We require information on the taxonomic identity, sample origin, spatial properties, and temporal properties for every slide.
                    Please fill these in below. For more information, <a href="/Guide" target="_blank">please refer to the GPP guide</a>.
                </p>

                <div class="form-group row">
                    <label for="inputExistingId" class="col-sm-2 col-form-label">Existing ID</label>
                    <div class="col-sm-10">
                        <input data-bind="value: existingId" class="form-control" id="inputExistingId" placeholder="Identifier" />
                        <small class="form-text text-muted">If you have already assigned IDs to your slides, you can specify this here. 
                    Your ID will be used in place of a Global Pollen Project ID within this collection.</small>
                    </div>
                </div>

                <h5>1. Taxonomic Identity</h5>

                <hr />
                <p>How has the material on this slide been identified?<span class="required-symbol">*</span></p>
                <div class="form-check">
                    <label class="form-check-label">
                <input class="form-check-input" type="radio" name="sampleType" id="botanical" value="botanical" data-bind="checked: identificationMethod" />
                <strong>Direct.</strong> Pollen or spores sampled from plant material.
            </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                <input class="form-check-input" type="radio" name="sampleType" id="morphological" value="morphological" data-bind="checked: identificationMethod" />
                <strong>Morphological.</strong> A taxonomic identification attributed to the grains by morphology, for example using pollen keys.
            </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                <input class="form-check-input" type="radio" name="sampleType" id="environmental" value="environmental" data-bind="checked: identificationMethod" />
                <strong>Environmental.</strong> The pollen was extracted from an environmental sample, for example surface water or a pollen trap. 
                The taxonomic identification has been constrained by species occuring known to occur in this area.
            </label>
                </div>

                <p>This reference slide is of
                    <select data-bind="value: rank" class="form-control input-sm inline-dropdown">
                        <option value="Species">Species</option>
                        <option value="Genus">Genus</option>
                        <option value="Family">Family</option>
                    </select> rank.
                </p>
                <p>Please enter the original taxonomic identity given to the slide.<span class="required-symbol">*</span></p>
                <div class="row">
                    <div class="col-sm-3">
                        <input data-bind="value: family, event: { blur: capitaliseFirstLetter($element) }" type="text" id="original-Family" class="form-control" autocomplete="off" placeholder="Family"
                            onblur="disable('Family');" onkeyup="suggest(this, 'Family');" />
                        <div class="dropdown-menu taxon-dropdown" id="FamilyList" style="display:none"></div>
                    </div>
                    <div class="col-sm-3">
                        <input data-bind="value: genus, enable: rank() != 'Family', event: { blur: capitaliseFirstLetter($element) }" type="text" id="original-Genus" class="form-control" autocomplete="off"
                            placeholder="Genus" onblur="disable('Genus');" onkeyup="suggest(this, 'Genus');" />
                        <div class="dropdown-menu taxon-dropdown" id="GenusList" style="display:none"></div>
                    </div>
                    <div class="col-sm-3">
                        <input data-bind="value: species, disable: rank() != 'Species'" type="text" id="original-Species" class="form-control" autocomplete="off"
                            placeholder="Species" onblur="disable('Species');" onkeyup="suggest(this, 'Species');" />
                        <div class="dropdown-menu taxon-dropdown" id="SpeciesList" style="display:none"></div>
                    </div>
                    <div class="col-sm-3"><input data-bind="value: author, disable: rank() != 'Species', event: { blur: capitaliseFirstLetter($element) }" type="text" class="form-control" autocomplete="off"
                            placeholder="Auth." /></div>
                </div>
                <small id="taxon-help" class="form-text text-muted">This identity will be validated against the taxonomic backbone. If / when taxonomic changes occur, or have occurred, these will be reflected on this slide automatically.</small>

                <button class="btn btn-default" data-bind="visible: newSlideTaxonStatus() == null, click: validateTaxon, enable: isValidTaxonSearch" style="margin-bottom:0.5em">Validate taxon</button>
                <div data-bind="visible: newSlideTaxonStatus, if: newSlideTaxonStatus">

                    <div data-bind="visible: newSlideTaxonStatus() == 'Error'">There was a problem communicating with the taxonomic backbone.</div>

                    <div data-bind="if: newSlideTaxonStatus() != 'Error'">
                        <div class="alert alert-success" data-bind="visible: newSlideTaxonStatus()[0].TaxonomicStatus == 'accepted'"> @*Accepted Taxon*@
                            <p><strong>This taxon is an accepted name.</strong></p>
                            <p>GPP Taxon:
                                <span data-bind="text: newSlideTaxonStatus()[0].Family"></span>
                                <span> > </span>
                                <span data-bind="text: newSlideTaxonStatus()[0].Genus"></span>
                                <em><span data-bind="text: newSlideTaxonStatus()[0].Species"></span></em>
                                <span> </span>
                                <span data-bind="text: newSlideTaxonStatus()[0].NamedBy"></span>
                            </p>
                        </div>
                        <div class="alert alert-success" data-bind="visible: newSlideTaxonStatus().length == 1 && newSlideTaxonStatus()[0].TaxonomicStatus == 'synonym'"> @*Synonym*@
                            <p>This taxon is a synonym of <span data-bind="text: newSlideTaxonStatus()[0].LatinName"></span>.</p>
                        </div>
                        <div class="alert alert-danger" data-bind="visible: newSlideTaxonStatus() != 'Error' && newSlideTaxonStatus().length > 1"> @*Synonym of ambiguity (more than one - authorship validation required)*@
                            <p>There are <span data-bind="text: newSlideTaxonStatus().length"></span> possible taxa in the GPP's
                                taxonomic backbone:</p>
                            <ul data-bind="foreach: newSlideTaxonStatus">
                                <li data-bind="text: LatinName + ' ' + NamedBy + ' (' + TaxonomicStatus + ' name)'"></li>
                            </ul>
                        </div>
                        <div class="alert alert-warning" data-bind="visible: newSlideTaxonStatus() != 'Error' && newSlideTaxonStatus().length == 1 && newSlideTaxonStatus()[0].TaxonomicStatus == 'doubtful'">
                            @*Unknown*@
                            <p>This taxon is currently unverified. We are not confident of it's validity, but will accept this
                                slide. The slde will not be visible in the Master Reference Collection until the taxon can
                                be verified.</p>
                        </div>
                        <div class="alert alert-danger" data-bind="visible: newSlideTaxonStatus().length == 0"> @*Invalid*@
                            <p>This taxon was not recognised. Please check you entered the name correctly, or enquire with us.
                            </p>
                        </div>
                    </div>
                </div>

                <h5>2. Sample Origin</h5>
                <hr/>

                <div data-bind="visible: identificationMethod() == 'botanical'">
                    <p>Your pollen or spore sample was taken directly from plant material. We require further information about the nature of the plant identification.</p>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Plant Identification Method<span class="required-symbol">*</span></label>
                        <div class="col-sm-8">
                            <select data-bind="value: plantIdMethod" class="form-control">
                                <option value="unknown">Unknown</option>
                                <option value="voucher">Herbarium Voucher</option>
                                <option value="livingCollection">Plant in a Living Collection</option>
                                <option value="field">Identification in the Field</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" data-bind="visible: plantIdMethod() == 'voucher'">
                        <label class="col-sm-2 col-form-label">Herbarium Voucher Information<span class="required-symbol">*</span></label>
                        <div class="col-sm-4">
                            <input data-bind="value: institutionCode" placeholder="Herbarium Code" class="form-control" />
                            <small class="form-text text-muted">Please enter a recognised herbarium code, as specified in <a href="http://sweetgum.nybg.org/science/ih/" target="_blank">the Index Herbariorum</a>.</small>
                        </div>
                        <div class="col-sm-4">
                            <input data-bind="value: institutionInternalId" placeholder="Internal ID" class="form-control" />
                            <small class="form-text text-muted">A barcode or other unique identifier for this specimen used by the herbarium.</small>
                        </div>
                    </div>

                    <div class="form-group row" data-bind="visible: plantIdMethod() == 'livingCollection'">
                        <label class="col-sm-2 col-form-label">Living Collection Information<span class="required-symbol">*</span></label>
                        <div class="col-sm-4">
                            <input data-bind="value: institutionCode" placeholder="BGCI Code" class="form-control" />
                            <small class="form-text text-muted">Please enter a recognised Botanic Gardens Conservation International code, as specified in <a href="https://www.bgci.org/garden_search.php" target="_blank">the BGCI online database</a>.</small>
                        </div>
                        <div class="col-sm-4">
                            <input data-bind="value: institutionInternalId" placeholder="Internal ID" class="form-control" />
                            <small class="form-text text-muted">A barcode or other unique identifier for this specimen used by the botanic garden.</small>
                        </div>
                    </div>

                    <div class="form-group row" data-bind="visible: plantIdMethod() == 'field'">
                        <label class="col-sm-2 col-form-label">Who identified this plant in the field?</label>
                        <div class="col-sm-4">
                            <input data-bind="value: identifiedByFirstNames" placeholder="Forenames" class="form-control" />
                        </div>
                        <div class="col-sm-3">
                            <input data-bind="value: identifiedByLastName" placeholder="Surname" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group row" data-bind="visible: identificationMethod() == 'botanical' || identificationMethod() == 'environmental'">
                    <label for="inputCollectionYear" class="col-sm-2 col-form-label">Year Sample Taken</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input id="inputCollectionYear" data-bind="value: yearCollected" type="number" class="form-control" aria-describedby="year-addon"/>
                            <span class="input-group-addon" id="year-addon">Calendar Year</span>
                        </div>
                    </div>
                </div>

                <div class="form-group row" data-bind="visible: plantIdMethod() == 'field'">
                    <label class="col-sm-2 col-form-label">Who collected the plant or pollen from its natural environment?</label>
                    <div class="col-sm-4">
                        <input data-bind="value: collectedByFirstNames" placeholder="Forenames" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <input data-bind="value: collectedByLastName" placeholder="Surname" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-3">
                        <select data-bind="value: locationType" class="form-control input-sm inline-dropdown">
                            <option value="Unknown">Unknown</option>
                            <option value="Continent">Continent</option>
                            <option value="Country">Country</option>
                            <option value="Locality">Locality</option>
                        </select>
                    </div>
                    <div class="col-sm-3" data-bind="visible: locationType() == 'Locality'">
                        <input data-bind="value: locality" class="form-control" id="locationLocality" placeholder="Locality" />
                    </div>
                    <div class="col-sm-3" data-bind="visible: locationType() == 'Locality'">
                        <input data-bind="value: district" class="form-control" id="locationDistrict" placeholder="District" />
                        <small class="form-text text-muted">An administrative area within a country.</small>
                    </div>
                    <div class="col-sm-3" data-bind="visible: locationType() == 'Locality'">
                        <input data-bind="value: region" class="form-control" id="locationRegion" placeholder="Region" />
                    </div>
                    <div class="col-sm-3" data-bind="visible: locationType() == 'Locality' || locationType() == 'Country'">
                        <input data-bind="value: country" class="form-control" id="locationCountry" placeholder="Country" />
                    </div>
                    <div class="col-sm-3" data-bind="visible: locationType() == 'Continent'">
                        <select data-bind="value: continent" class="form-control input-sm inline-dropdown">
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                            <option value="NorthAmerica">North America</option>
                            <option value="SouthAmerica">South America</option>
                            <option value="Antarctica">Antarctica</option>
                            <option value="Australia">Australia</option>
                        </select>
                    </div>                
                </div>

                <h5>3. Slide Preperation</h5>
                <hr/>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Slide Prepared By</label>
                    <div class="col-sm-2">
                        <input data-bind="value: preparedByFirstNames" placeholder="Forenames" class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <input data-bind="value: preparedByLastName" placeholder="Surname" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="preperationMethod" class="col-sm-2 col-form-label">Chemical Treatment</label>
                    <div class="col-sm-10">
                        <select data-bind="value: preperationMethod" class="form-control input-sm inline-dropdown">
                            <option value="unknown">Unknown</option>
                            <option value="fresh">Fresh Grains (no processing)</option>
                            <option value="acetolysis">Acetolysis</option>
                            <option value="hf">Hydroflouric Acid (HF)</option>
                        </select>
                        <small class="form-text text-muted">If you have not applied any chemical treatments, please select 'Fresh Grains'.</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mounting Material</label>
                    <div class="col-sm-10">
                        <select data-bind="value: mountingMaterial" class="form-control input-sm inline-dropdown">
                            <option value="unknown">Unknown</option>
                            <option value="siliconeoil">Silicone Oil</option>
                            <option value="glycerol">Glycerol</option>
                        </select>
                        <small class="form-text text-muted">Which fixant was used to prepare the slide?</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">When was this slide made from the plant material?</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                        <input data-bind="value: yearPrepared" type="number" class="form-control" aria-describedby="year-addon">
                        <span class="input-group-addon" id="year-addon">Calendar Year</span>
                        </div>
                    </div>
                </div>

                <div class="alert-danger" data-bind="visible: validationErrors().length > 0, if: validationErrors().length > 0">
                    There was a problem with this slide. Please address the below problems and try again:
                    <ul data-bind="foreach: validationErrors">
                        <li data-bind="text: $data.Property + ': ' + $data.Errors[0]"></li>
                    </ul>
                </div>
            </div>

            <div class="modal-footer">
                <button data-bind="click: function() { submit($root) }, disable: !isValidAddSlideRequest() || isProcessing()" type="button" class="btn btn-primary">Record Slide</button>
            </div>
        </div>
    </div>
</div>