@* Start Collection Modal *@
<div data-bind="BSModal: currentView() == CurrentView.ADD_COLLECTION, if: currentView() == CurrentView.ADD_COLLECTION" class="modal bd-example-modal-lg" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div data-bind="with: newCollectionVM" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Digitise a Collection</h5>
                <button type="button" class="close" aria-label="Close" data-bind="click: function() { $parent.switchView(CurrentView.MASTER); }">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Please tell us about the reference collection you wish to digitise. You can edit this information later if necessary.</p>
                <ul data-bind="foreach: validationErrors">
                    <li data-bind="text: $data"></li>
                </ul>
                <div class="form-group">
                    <label>Collection Name</label>
                    <input data-bind="textInput: name" class="form-control" id="name" />
                    <small id="name-help" class="form-text text-muted">Use a name specific to the collection.</small>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea data-bind="textInput: description" class="form-control" id="description" rows="3"></textarea>
                    <small id="name-help" class="form-text text-muted">Your collection description could include the motivation for creating the collection, geographical coverage, or the nature of the material, for example.</small>
                </div>

                @* Curator Information *@
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Who is the curator?</label>
                    <div class="col-sm-4">
                        <input data-bind="value: curatorFirstNames" placeholder="Forenames" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <input data-bind="value: curatorSurname" placeholder="Surname" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Email Address of Curator, for Enquiries</label>
                    <input data-bind="textInput: email" type="email" class="form-control" />
                    <small class="form-text text-muted">Please specify a contact email so that users can find out further information about this collection.</small>
                </div>

                @* Access Information *@
                <h4>Physical Access to Material</h4>
                <hr/>
                <p>Please tell us the level of access that the curator has to the original reference material.</p>
                <div class="form-check">
                    <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="accessMethod" id="digital" value="digital" data-bind="checked: accessMethod" />
                                <strong>Digital Only.</strong> This could be a meta-collection made from many dispursed sources, or reference material to which the owner of the images no longer has physical access.
                            </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="accessMethod" id="institution" value="institution" data-bind="checked: accessMethod" />
                                <strong>Institution.</strong> The reference material is housed within an institution.
                            </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="accessMethod" id="private" value="private" data-bind="checked: accessMethod" />
                                <strong>Personal / Private Collection.</strong> The physical reference material forms a private collection of the curator. Access to the material may be negotiated with the curator.
                            </label>
                </div>
                <div class="form-group">
                    <label>Institution Where Collection is Located</label>
                    <input data-bind="textInput: institutionName, enable: accessMethod() == 'institution'" class="form-control" />
                    <small class="form-text text-muted">Where are the physical slides for this collection located? Be sure to include any specific identifiers, for example a group or department name.</small>
                </div>
                <div class="form-group">
                    <label>Institution Website Address</label>
                    <input data-bind="textInput: institutionUrl, enable: accessMethod() == 'institution'" type="url" class="form-control" />
                    <small class="form-text text-muted">If there is further information on your own website, paste a link here.</small>
                </div>

            </div>
            <div class="modal-footer">
                <button data-bind="click: function() { submit($root) }, disable: isProcessing" type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>