<div data-bind="if: newMicroscope">
    <div data-bind="with: newMicroscope">
        <h2>Setting up new microscope</h2>
        <div class="form-group">
            <label>Calibration Friendly Name</label>
            <input data-bind="textInput: friendlyName" class="form-control" id="friendlyname" />
            <small id="friendlyname-help" class="form-text text-muted">Use a name that is specific to this microscope, for example its make and model.</small>
        </div>
        <label>Microscope type</label>
        <select data-bind="value: microscopeType" class="form-control input-sm inline-dropdown">
                                    <option value="Compound">Compound</option>
                                    <option value="Single">Single</option>
                                    <option value="Digital">Digital</option>
                                </select>

        <div data-bind='foreach: magnifications'>
            <input class='required' data-bind='value: $data, uniqueName: true' />
            <a href='#' data-bind='click: $root.removeMag'>Remove</a>
        </div>

        <button data-bind="click: function() { submit($parent) }" class="btn btn-primary">Submit</button>
    </div>
</div>