@* Slide Detail *@
<div data-bind="BSModal: isViewingSlideDetail, if: slideDetail" class="modal bd-example-modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" data-bind="text: 'Slide: ' + slideDetail().CollectionSlideId ">
                </h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <span class="label label-awaiting">Awaiting Digitisation</span>

            <div class="modal-body">
                <p>
                    The original reference slide has the taxonomic identification:
                    <span data-bind="text: slideDetail().FamilyOriginal"></span>
                    <span data-bind="text: slideDetail().GenusOriginal"></span>
                    <span data-bind="text: slideDetail().SpeciesOriginal"></span>
                </p>

                <p>The most current taxonomic name for this taxon is: <span data-bind="text: slideDetail().CurrentFamily + ' ' + slideDetail().CurrentGenus + ' ' + slideDetail().CurrentSpecies + ' ' + slideDetail().CurrentSpAuth"></span>                    </p>

                <h5>Images</h5>
                <hr/>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-plus"></span> Add New Image
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item active" role="presentation"><a class="nav-link" href="#single" aria-controls="single" role="tab" data-toggle="tab">Single Images</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#focus" aria-controls="focus" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open"></span> Focus Image</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="single">
                                <br />
                                <p>Use Single Images if a fixed camera setup is not available. </p>
                                <div class="row">
                                    <div class="fileUpload btn btn-default">
                                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><span> Add More Images</span>
                                        <input type="file" multiple="multiple" class="upload" onchange="handleFiles(this);" />
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="focus">
                                <br />
                                <p>Focus Images enable users to scroll through an image as if moving through the focus on a
                                    microscope. You must upload at least five focal planes (images) to create a valid focus image.</p>
                                <div class="row">
                                    <div class="fileUpload btn btn-default">
                                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><span> Upload New Image Set</span>
                                        <input id="focus-upload-button" type="file" multiple="multiple" class="upload" data-bind="event: { change: function() { focusImagePreview.addData($element) } }"
                                        />
                                    </div>
                                </div>
                                <p id="focus-upload-error"></p>
                                <div id="focus-preview">
                                    <div class="zoom-canvas-container" style="position:relative">
                                        <canvas id="focusImagePreview" class="zoom-canvas"></canvas>
                                        <div id="focusSlider" style="display:inline-block;height:10em;position:absolute;top:4em;left:0"></div>
                                        <div id="focus-images" hidden="hidden"></div>
                                    </div>
                                </div>
                                <p>Calibration</p>
                                <button id="focus-add-button" class="btn btn-default" onclick="confirmFocusImage()">Add Focus Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .label-awaiting,
    .label-digitised {
        color: #fff;
        text-align: center;
        height: 2em;
        line-height: 2em;
    }

    .label-awaiting {
        background-color: #ff8c00;
    }

    .label-digitised {
        background-color: #006400;
    }
</style>