@* Slide Detail *@
<div data-bind="BSModal: currentView() == CurrentView.SLIDE_DETAIL, if: currentView() == CurrentView.SLIDE_DETAIL" class="modal bd-example-modal-lg"
    role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div data-bind="with: slideDetailVM" class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" data-bind="text: 'Slide: ' + slideDetail().CollectionSlideId ">
                </h5>
                <button type="button" class="close" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <span class="label label-awaiting">Awaiting Digitisation</span>

            <div class="modal-body">

                <ul data-bind="foreach: validationErrors">
                    <li data-bind="text: $data"></li>
                </ul>

                <p>
                    The original reference slide has the taxonomic identification:
                    <span data-bind="text: slideDetail().FamilyOriginal"></span>
                    <span data-bind="text: slideDetail().GenusOriginal"></span>
                    <span data-bind="text: slideDetail().SpeciesOriginal"></span>
                </p>

                <p>The most current taxonomic name for this taxon is: <span data-bind="text: slideDetail().CurrentFamily + ' ' + slideDetail().CurrentGenus + ' ' + slideDetail().CurrentSpecies + ' ' + slideDetail().CurrentSpAuth"></span>                    </p>

                <h5>Images</h5>
                <hr/>
                <p>Upload a focusable image? <input type="checkbox" data-bind="checked: isFocusImage" /></p>

                <div class="form-group row">
                    <label for="digitisedYear" class="col-sm-2 col-form-label">Year Image Taken</label>
                    <div class="col-sm-10">
                        <input data-bind="value: digitisedYear" id="digitisedYear" class="form-control" />
                        <small class="help">In which calendar year was this image taken?</small>
                    </div>
                </div>

                <div data-bind="visible: isFocusImage">
                    <h5>Upload a focusable image</h5>
                    @* Calibration selection *@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-5">
                            <select data-bind="foreach: calibrations" class="form-control input-sm inline-dropdown">
                                <option data-bind="value: $data.Name, text: $data.Name"></option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <select data-bind="value: magnification" class="form-control input-sm inline-dropdown">
                                <option value="10">10x</option>
                                <option value="20">20x</option>
                                <option value="40">40x</option>
                                <option value="100">100x</option>
                            </select>
                        </div>
                    </div>
                    @* Image Upload and Preview *@
                    <input type="file" multiple="multiple" class="upload" data-bind="event: { change: function() { imageSelected($element, 'image-previewer'); } } "/>
                    <div id="image-previewer" style="width:500px"></div>
                </div>

                <div data-bind="visible: !isFocusImage()">
                    <h5>Upload a static image</h5>
                    <p>A static image uses a floating calibration to discren size within the image. You must complete the calibration step for every image.</p>
                    <input type="file" class="upload" data-bind="event: { change: function() { viewer.changeImage($element) } }" />
                    <div id="static-image-previewer"></div>

                    <div class="form-group row">
                        <label for="measuredDistance" class="col-sm-2 col-form-label">Measured Distance</label>
                        <div class="col-sm-10">
                            <input data-bind="value: measuredDistance" id="measuredDistance" class="form-control" />
                            <small class="help">Enter the length of your measurement line in micrometres (um)</small>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button data-bind="click: function() { submit($root); }" type="button" class="btn btn-primary">Upload Image</button>
            </div>

        </div>
    </div>
</div>

<style>
    .label-awaiting,
    .label-digitised {
        color: #fff;
        text-align: center;
        height: 2em;
        line-height: 2em;
    }

    .label-awaiting {
        background-color: #ff8c00;
    }

    .label-digitised {
        background-color: #006400;
    }
</style>