@* Slide Detail *@
<div data-bind="BSModal: currentView() == CurrentView.SLIDE_DETAIL, if: currentView() == CurrentView.SLIDE_DETAIL" class="modal bd-example-modal-lg"
    role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div data-bind="with: slideDetailVM" class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" data-bind="text: 'Slide: ' + slideDetail().CollectionSlideId + ' - ' + slideDetail().FamilyOriginal + ' ' + slideDetail().GenusOriginal + ' ' + slideDetail().SpeciesOriginal">
                </h5>
                <button type="button" class="close" aria-label="Close" data-bind="click: function() { $parent.switchView(CurrentView.MASTER); }">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bind="click: function() { switchTab(SlideDetailTab.OVERVIEW) }, css: { active: currentTab() == SlideDetailTab.OVERVIEW }">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bind="click: function() { switchTab(SlideDetailTab.UPLOAD_STATIC) }, css: { active: currentTab() == SlideDetailTab.UPLOAD_STATIC }">
                            Upload static image
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bind="click: function() { switchTab(SlideDetailTab.UPLOAD_FOCUSABLE) }, css: { active: currentTab() == SlideDetailTab.UPLOAD_FOCUSABLE }">
                            Upload focusable image
                        </a>
                    </li>
                </ul>

                <div id="slidedetail-overview-tab" data-bind="visible: currentTab() == SlideDetailTab.OVERVIEW">

                    <div class="alert alert-info" data-bind="visible: !slideDetail().IsFullyDigitised">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> This slide has not been fully digitised. Upload at least one image
                    </div>
                    <div class="alert alert-success" data-bind="visible: slideDetail().IsFullyDigitised">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> Fully digitised
                    </div>

                    <div class="container">
                        <ul class="grain-grid" data-bind="foreach: slideDetail().Images">
                            <li>
                                <div class="img-container">
                                    <a><img data-bind="attr: {src: $data.Frames[0]}" style="max-width: 100%; max-height: 100%;"></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <p>
                        The original reference slide has the taxonomic identification:
                        <span data-bind="text: slideDetail().FamilyOriginal"></span>
                        <span data-bind="text: slideDetail().GenusOriginal"></span>
                        <span data-bind="text: slideDetail().SpeciesOriginal"></span>
                    </p>
                    <p>
                        The most current taxonomic name for this taxon is: <span data-bind="text: slideDetail().CurrentFamily + ' ' + slideDetail().CurrentGenus + ' ' + slideDetail().CurrentSpecies + ' ' + slideDetail().CurrentSpAuth"></span>                    
                    </p>
                </div>

                <div id="slidedetail-static-tab" data-bind="visible: currentTab() == SlideDetailTab.UPLOAD_STATIC">
                    <ul data-bind="foreach: validationErrors">
                        <li data-bind="text: $data"></li>
                    </ul>

                    <h5>Upload a static image</h5>
                    <p>A static image uses a floating calibration to discren size within the image. You must complete the calibration step for every image.</p>
                    <input type="file" class="upload btn" data-bind="event: { change: function() { createStaticImageViewer($element); } }" />
                    <div id="static-image-previewer-container"></div>

                    <div class="card" id="slidedetail-static-measurement-section" data-bind="visible: loadedStaticImage">
                        <div class="card-header">
                            Draw a line on the loaded image of known length
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <button data-bind="click: function() { activateMeasuringLine(); }" type="button" class="btn btn-primary" id="slidedetail-draw-line-button">Draw Line</button>        
                                </div>
                                <label for="measuredDistance" class="col-sm-3 col-form-label">Measured Distance</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input data-bind="value: measuredDistance" id="measuredDistance" class="form-control" />
                                        <span class="input-group-addon">μm</span>
                                    </div>
                                    <small class="help">Enter the length of your measurement line in micrometres (μm)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="slidedetail-static-year-section" data-bind="visible: loadedStaticImage">
                        <div class="card-block">
                            <div class="form-group row">
                                <label for="digitisedYearStatic" class="col-sm-4 col-form-label">Year Image Taken</label>
                                <div class="col-sm-8">
                                    <input data-bind="value: digitisedYear" id="digitisedYearStatic" class="form-control" />
                                    <small class="help">In which calendar year was this image taken?</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-bind="visible: loadedStaticImage">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-9 progress" id="slidedetail-static-upload-progress">
                                    <div data-bind="visible: uploadPercentage, style: { width: function() { if (uploadPercentage() != null) { return uploadPercentage() + '%'; } } }" class="progress-bar progress-bar-striped progress-bar-animated" id="slidedetail-static-upload-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                                <div class="col-sm-3">
                                    <button data-bind="click: function() { submitStatic($root); }, enable: isValidStaticRequest" type="button" class="btn btn-primary">Upload Image</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="slidedetail-focusable-tab" data-bind="visible: currentTab() == SlideDetailTab.UPLOAD_FOCUSABLE">
                    <div data-bind="visible: calibrations().length == 0" class="alert alert-danger" id="slidedetail-no-calibrations-alert">
                        <strong>Error</strong> - no microscope calibrations have been configured
                    </div>

                    <ul data-bind="foreach: validationErrors">
                        <li data-bind="text: $data"></li>
                    </ul>
                    
                    <div data-bind="visible: calibrations().length > 0">
                        <h5>Upload a focusable image</h5>
                        <p>Select all focus level images below</p>
                        <input type="file" multiple="multiple" class="upload btn" data-bind="event: { change: function() { createFocusImageViewer($element); } }" />
                        <div id="focus-image-previewer-container"></div>
                        
                        <div class="card" id="slidedetail-microscope-section" data-bind="visible: loadedFocusImages">
                            <div class="card-header">
                                Select your configured microscope + magnification level
                            </div>
                            <div class="card-block">
                                <div data-bind="visible: calibrations().length > 0" class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="microscope-dropdown">Microscope</label>
                                        <div class="dropdown">
                                            <button data-bind="text: selectedMicroscopeName()" class="btn btn-secondary dropdown-toggle calibration-dropdown" type="button" id="microscope-dropdown" data-toggle="dropdown"></button>
                                            <div data-bind="foreach: calibrations" class="dropdown-menu calibration-dropdown-list">
                                                <a data-bind="value: $data.Name, text: $data.Name, click: $parent.selectMicroscope" class="dropdown-item calibration-option"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="magnification-dropdown">Magnification</label>
                                        <div class="dropdown" data-bind="visible: selectedMicroscope() != null">
                                            <button data-bind="text: selectedMagnificationName()" class="btn btn-secondary dropdown-toggle calibration-dropdown" type="button" id="magnification-dropdown" data-toggle="dropdown"></button>
                                            <div data-bind="foreach: selectedMicroscopeMagnifications()" class="dropdown-menu calibration-dropdown-list">
                                                <a data-bind="value: $data, text: $data.Level, click: $parent.selectMagnification" class="dropdown-item calibration-option"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="slidedetail-focus-year-section" data-bind="visible: loadedFocusImages">
                            <div class="card-block">
                                <div class="form-group row">
                                    <label for="digitisedYearFocus" class="col-sm-4 col-form-label">Year Image Taken</label>
                                    <div class="col-sm-8">
                                        <input data-bind="value: digitisedYear" id="digitisedYearFocus" class="form-control" />
                                        <small class="help">In which calendar year was this image taken?</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" data-bind="visible: loadedFocusImages">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-9 progress" id="slidedetail-focus-upload-progress">
                                        <div data-bind="visible: uploadPercentage, style: { width: function() { if (uploadPercentage() != null) { return uploadPercentage() + '%'; } } }" class="progress-bar progress-bar-striped progress-bar-animated" id="slidedetail-focus-upload-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <button data-bind="click: function() { submitFocus($root); }, enable: isValidFocusRequest" type="button" class="btn btn-primary">Upload Image</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>