@{
    Layout = "_Layout";
    ViewData["Title"] = "Digitise Tool";
    ViewData["Subtitle"] = "Use this tool to digitise your collections. A digitised slide contains two components: (1) metadata, and (2) images.";
}

<link rel="stylesheet" href="/css/digitise.css" >

@* Header *@
@section headerSection {
    <header><div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Subtitle"]</p>
    </div></header>
}

@section scripts {
    <script src="/js/digitise.bundle.js"></script>
}

<div id="digitise-app"></div>
