@{
    Layout = "_Layout";
}

<h1>Digitisation Tool</h1>
<p>Use this tool to digitise your collections.</p>

<div id="digitise-app"></div>
<script src="/js/digitise.bundle.js" />

<div class="row">
    @* Master *@
    <div class="col-md-3">
        <label>My Collections</label>
        <p>None</p>
    </div>

    @* Detail *@
    <div class="col-md-9">

    </div>
</div>