@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_Layout";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Please check your email for an activation link. You must do this before you can log in.
    </p>
</div>
