@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_Layout";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a href="/Account/Login">Click here to Log in</a>.
    </p>
</div>
