@model Requests.ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Nearly logged in...";
    Layout = "_Layout";
}

@section headerSection {
<header>
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <p>Associate your @this.Context.Items["LoginProvider"] account.</p>
    </div>
</header>
}

<form action="/Account/ExternalLoginConfirmation" method="POST" class="form-horizontal" role="form">
    <p class="text-info">
        You've successfully authenticated with <strong>@this.Context.Items["LoginProvider"]</strong>.
        We just need a few more personal details from you before you can log in.
    </p>
    <div asp-validation-summary="All" class="text-danger"></div>
    <h4>About You</h4>

    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="EmailConfirmation" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EmailConfirmation" class="form-control" />
            <span asp-validation-for="EmailConfirmation" class="text-danger"></span>
        </div>
    </div>

    <hr />
    <h4>Your Organisation</h4>
    <p>Are you a member of a lab group, company or other organisation? Each grain you identify gives you a bounty score. By
        using a common group name, you can build up your score together. Can your organisation become top identifiers?</p>
    <div class="form-group row">
        <label asp-for="Organisation" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Organisation" class="form-control" onkeyup="updateOrganisationList(this);" autocomplete="off" />
            <div class="dropdown-menu" id="organisationsList" style="display:none"></div>
            <span asp-validation-for="Organisation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-offset-2 col-sm-10">
            <p>By registering, you agree to the Global Pollen Project <a href="/Terms" target="_blank">terms and conditions</a>.</p>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}