@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using GlobalPollenProject.Shared.Identity.Models
@inject SignInManager<ApplicationUser> SignInManager
@model Requests.LoginRequest

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log in";
    ViewData["Subtitle"] = "Use your existing Global Pollen Project account, Facebook or Twitter";
}

<link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">

    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />

<form action="/Account/Login" method="post" class="form-horizontal" role="form">

@Html.EditorForModel()
<div asp-validation-summary="All" class="text-danger"></div>
<button type="submit" class="btn btn-primary">Log in</button>
</form>
@*
<div class="row">
    <div class="col-md-8">
        <section>
            <form action="/Login" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <a class="btn btn-default" href="/Account/ForgotPassword">Forgotten Password</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <form href="/Login/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <button name="provider" class="btn btn-block btn-social btn-facebook" type="submit" value="Facebook">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </button>
                <button name="provider" class="btn btn-block btn-social btn-twitter" type="submit" value="Twitter">
                    <span class="fa fa-twitter"></span> Sign in with Twitter
                </button>
            </form>
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Sign Up Today!</div>
                <div class="panel-body">
                    <p>Register to submit your pollen and exchange identifications.</p>
                    <a class="btn btn-default" href="/Register">Register</a>
                </div>
            </div>
        </section>
    </div>
</div>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
