@model Requests.NewAppUserRequest 

@{ 
    Layout = "_Layout"; 
    ViewData["Title"] = "Register"; 
    ViewData["Subtitle"] = "Create a new account."; 
} 

@section headerSection {
<header>
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p>@ViewBag.Subtitle</p>
    </div>
</header>
}

<div class="account-form">
    <form action="/Account/Register" method="post" class="form-horizontal" role="form">
        <p>An account will enable you to submit your own unknown pollen grains and identify others. You can also request access
            to our digitisation features.</p>
        <p>You can also alternatively <a href="/Account/Login">sign in with your Facebook or Twitter account.</a></p>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <h4>About You</h4>

        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EmailConfirmation" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="EmailConfirmation" class="form-control" />
                <span asp-validation-for="EmailConfirmation" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <hr />
        <h4>Your Organisation</h4>
        <p>Are you a member of a lab group, company or other organisation? Each grain you identify gives you a bounty score. By
            using a common group name, you can build up your score together. Can your organisation become top identifiers?</p>
        <div class="form-group row">
            <label asp-for="Organisation" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Organisation" class="form-control" onkeyup="updateOrganisationList(this);" autocomplete="off" />
                <div class="dropdown-menu" id="organisationsList" style="display:none"></div>
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-sm-10">
                <p>By registering, you agree to the Global Pollen Project <a href="/Terms" target="_blank">terms and conditions</a>.</p>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>

@section Scripts { @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script type="text/javascript" src="~/js/account/OrganisationAutocomplete.js"></script>
}