<h1>Digitisation Tool</h1>
<p>Use this tool to digitise your collections.</p>

<div class="row">
    @* Master *@
    <div class="col-md-3">
        <label>My Collections</label>
        <p>None</p>
    </div>

    @* Detail *@
    <div class="col-md-9">

    </div>
</div>