<section class="homepage-section section-bottomline">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3"><span class="big-number">1,200</span>Digitised Reference Slides</div>
            <div class="col-md-3"><span class="big-number">500</span>Species</div>
            <div class="col-md-3"><span class="big-number">5,425</span>Individual Grains and Spores</div>
        </div>
    </div>
</section>