@{
    Layout = "_Layout";
    ViewData["Title"] = "API";
    ViewData["Subtitle"] = "Access our data programatically";
}

@section headerSection {
    <header>
        <div class="container">
            <h2 id="about">@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}

<div class="row">
    @*<div class="col-md-12">
        <p>The GPP exposes a public API.</p>
        <p>Access at the base URL https://globalpollenproject.org/api/v1/</p>

        <h3>Taxonomic Backbone</h3>

        <h4>Search</h4>
        <p>/backbone/search?rank={Rank}&latinName={LatinName}</p>
        <p>Returns a list </p>
    </div>*@
    <div class="col-md-12"><p>The public API will be available in preview in early 2018.</p></div>
</div>