@{
    ViewData["Title"] = "Terms and Conditions of Use";
}

@section headerSection {
    <header>
        <div class="container">
            <h2 id="about">@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}

<h4>INTRODUCTION</h4>
<p>(a) This is a UK based web site. You irrevocably agree that the courts of England will have jurisdiction over any dispute or claim relating to your use of this site. English law governs these terms and conditions.</p>
<p>(b) Please read these terms and conditions carefully before using this site.</p>
<p>(c) By using the site, you accept these terms and conditions. If you do not wish to accept all of these terms and conditions, please do not use this site.</p>
<br />

<h4>OUR FREEDOM TO MAKE CHANGES AND WITHDRAW THE SITE</h4>
<p>(a) We may at any time without giving prior notice, at our discretion:</p>
<p>(i) revise, amend, add or withdraw information on the site;</p>
<p>(ii) temporarily suspend operation of the site;</p>
<p>(iii) close down or transfer the site to another site.</p>
<p>(b) We do not commit to updating, correcting or otherwise revising the information or procedures on or concerning the site.</p>
<p>(c) We reserve the right to modify the terms and conditions governing the use of this site at any time without prior notice. You will be bound by any such changes and should, therefore, periodically visit this page to review the current terms and conditions.</p>
<br />
<h4>SECURITY</h4>
<p>
    (a) You should inform us of any apparent breaches of security such as loss, theft or unauthorised disclosure or use of any ID, password or key which we may issue to you. Until we are notified by you, you will remain liable for any unauthorised use.
</p>
<br />
<h4>INFORMATION ON THE SITE</h4>
<p>(a) The information that you obtain on this site relies on the quality, availability and integrity of data uploaded by other users and deficiencies in them may cause errors in the information supplied by this site.</p>
<p>
    (b) This site is not designed to be a secure environment and therefore we cannot guarantee the confidentiality of the information that is received into it.
</p>
<br />
<h4>LEGAL LIABILITY</h4>
<p>(a) All information from the site is provided to you on an 'as is' and "as available" basis. To the fullest extent permitted by law, we exclude all warranties and conditions, either express or implied, including (without limitation) the implied warranties of merchantability, satisfactory quality, or fitness for a particular or general purpose and non-infringement of third party rights. This is so even if you have informed us beforehand of the purpose for which you will be using the information from the site.</p>
<p>(b) We exclude all liability for any direct or indirect, special, incidental or consequential loss of profits, revenue, contracts or goodwill resulting from the availability or interruption of the site or from computer viruses, loss of data or in any other respect whatsoever from the use of the site or the information obtained from it. This exclusion applies even if we have been advised of the possibility that such losses might be suffered by you or a third party.
</p>
<br />
<h4>PROTECTION OF INTELLECTUAL PROPERTY</h4>
<p>(a) The copyright in material on this site is owned or licensed to us and protected by domestic and international copyright laws.</p>
<p>(b) You may use the site for the intended purpose only. You may download copy and use the information provided by this site for your personal internal business (or academic) use only. You must not commercialise the information by re-selling it or any part of it or otherwise commercially exploit it. You must not remove or interfere with any trade mark, copyright or other proprietary notice.</p>
<p>(c) Except as expressly provided above, you agree that you do not have any licence or right under any copyright or other IPR owned by or licensed to us in respect of this site or the information and materials in it.
</p>
<br />
<h4>POSTING MATERIAL SUCH AS POLLEN IMAGES</h4>
<p>(a) We do not intend to regularly monitor the use of the site or data transmitted to it. However, if we become aware that you are misusing the site we reserve the right to take appropriate, which may include excluding you and your affiliates from accessing the site and removing all data and materials that you may have transmitted.</p>
<p>(b) Any information and images submitted to us through this site will become our exclusive property but this will be held and used in accordance with our privacy policy referred to in clause (c) of the "General" section below.</p>
<p>(c) You hereby consent to us processing personal data obtained from you in the course of you accessing this site and transmitting that data to any country outside the EU. We may process your personal information for the purposes described in this site.</p>
<p>(d) Any images that you submit to this site, including digitised reference slides and unidentified grains, become part of the ‘Global Pollen Project’ dataset, and will become our exclusive property as referred to in clause (b) of this section.</p>
<p>(e) The ‘Global Pollen Project Reference Dataset’ by ‘Global Pollen Project Contributors’ is licensed under a Creative Commons Attribution 4.0 International License. The terms for this license are available at: http://creativecommons.org/licenses/by/4.0/.
</p>
<br />
<h4>DATA USE</h4>
<p>(a) The Global Pollen Project Reference Dataset consists of user-submitted pollen grains, digitised reference collection grains or slides, and the metadata associated with these entries.</p>
<p>(b) Personal information from the user accounts of those who have contributed data (name, contact details, organisation) is not included in the Global Pollen Project Reference Dataset.</p>
<p>(c) All data available in the Global Pollen Project Reference Dataset are free to use for non-commercial and commercial purposes (http://creativecommons.org/licenses/by/4.0/).</p>
<p>(d) All publications using any data obtained from the Global Pollen Project Reference Dataset should use the following or similar text in their acknowledgments: “Data were obtained from the Global Pollen Project Reference Dataset (http://globalpollenproject.org/), and the work of the data contributors and identification community is gratefully acknowledged.” Please also send to andrew.martin@zoo.ox.ac.uk a copy of the published work or a link to the electronic resource. Your assistance helps document the usage of the database.
</p>
<br />
<h4>INDEMNITY</h4>
<p>(a) If you breach any of these terms, you agree to indemnify us for any losses, costs or damages, including reasonable legal fees, incurred by us in relation to, or arising out of, such a breach.
</p>
<br />
<h4>TERMINATION</h4>
<p>(a) Your access to and use of this site, including any password access to the site, may be changed, restricted or terminated by us by notice with immediate effect at any time and for any or no reason.
</p>
<br />
<h4>GENERAL</h4>
<p>(a) If any part of these terms is declared invalid for any reason by a court of competent jurisdiction, this will not affect the validity of any remaining part of the terms. Any such remaining part will remain in full force and effect as if the invalid part of the terms had been eliminated.</p>
<p>(b) You will use this site in a manner consistent with all applicable laws, legislation, rules and regulations.</p>
<p>(c) These terms supersede any earlier terms, conditions or arrangements which may have subsisted between us.</p>
<p>(d) You agree that you have not relied on any statement made by or on our behalf that is not expressly set out in these terms and conditions.</p>
<p>(e) We respect and strive to safeguard the privacy of all people. A copy of our internet privacy policy can be found below.
</p>
<br />
<h4>PRIVACY POLICY</h4>
<p>(a) We want to protect the privacy of all visitors to our website and this privacy policy will help you to understand how we use your personal data. We may change this privacy policy at any time without notice, so please check this policy each time you visit this website.</p>
<p>(b) Whenever you give us personal data, you are consenting to its collection and use in accordance with this privacy policy, including our use of cookies as explained below.</p>
<p>(c) When you visit this website or ask for any publication or information from us, you may be asked to provide information about yourself, including your name and contact details. We may also collect personal data from messages you post to this website and from emails and letters that you send to us. We may also collect information about your use of this website. We automatically collect data about visitors to our website by using cookies.</p>
<p>(d) Cookies: A cookie is a small piece of data or message that is sent from a web server to your browser and stored on the hard drive of your computer. Cookies may make it easier for you to log on to and use this website in future. They allow us to monitor website traffic and to personalise the content of this site for our visitors.</p>
<p>(e) You can reset your browser to reject cookies and to alert you when a cookie is sent. For information about this look in your browser's "help" facility. If you choose not to accept our cookies, you may not be able to use certain features on this website.</p>
<p>(f) Personal data: We use personal data to provide visitors with access to relevant parts of our website, to supply information they have requested and to deal with enquiries they have made.</p>
<p>(g) We may use and analyse the personal data we collect so that we can administer, support, improve and develop our services. In particular, we may use your personal data to contact you for your views on our services and to notify you occasionally about changes or developments to our website or our services. We may contact you by e-mail or by post to market our services.</p>
<p>(h) You have the right to stop us using your personal data for marketing purposes. You may exercise that right at any time by contacting us at: admin@globalpollenproject.org</p>
<p>(i) When you give us personal data, those data may be sent electronically to servers anywhere in the world and may be used, stored and processed anywhere in the world, including countries outside the European Economic Area; this is simply a consequence of the way the Internet works. Bear in mind that those countries do not always have strong data protection laws.</p>
<p>(j) Whenever and wherever we collect, process or use personal data, we take steps to try and ensure that it is kept securely and in accordance with the Data Protection Act 1998 and this policy.</p>
<p>(k) We may disclose personal data to third parties who process information or provide other services for us. Some of those third parties may be located outside the United Kingdom.</p>
<p>(l) Except as set out above, or unless we are required or allowed to do so by law, we will not share, sell or disclose any of your personal data without your consent.</p>
<p>(m) Security: Unfortunately, no data transmission over the internet or any other network is as 100% secure. We take appropriate measures to try to protect your personal data from access by unauthorised people and against unlawful processing, accidental loss, destruction and damage.</p>
<p>(n) Access and updating: Individuals have certain rights of access to their personal data, including the rights to see the personal data held about them and to ask that necessary changes are made to ensure that those data are accurate and up to date. If you wish to do this, please contact: admin@globalpollenproject.org.</p>
<p>(p) Third part sites: Any third party website to which you link via this website is not covered by this privacy policy. We are not responsible for the privacy practices of other organisations. Always be aware when you leave this website, read the privacy policy of other websites and be cautious when you give anyone any personal data. By including a link to another website from this website we are NOT recommending or endorsing that website, the organisation that operates it, or its content.
</p>