@model FSharpList<Docs.DocViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Guide";
    ViewData["Subtitle"] = "Find out about the project and how it works";
    ViewData["Description"] = "The Global Pollen Project is a user-driven, open reference library of plant pollen. Exchange identifications with other users for collaborative science. Upload your reference material or unknown grains today.";
}

@section headerSection {
    <header>
        <div class="container">
            <h2 id="about">@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </header>
}

<div class="alert alert-info">
    <strong>Welcome to the Global Pollen Project (GPP) v1.5.</strong> After a positive reception for the original release, we are happy to welcome you to the new Global Pollen Project (1.5). Please note that data is currently being migrated from the original dataset into a new format. While this is in progress, some data may not be available. <a href="https://v1.globalpollenproject.org" target="_blank">You can still access the original Global Pollen Project dataset in our temporary archive here.</a>
</div>

<div class="row justify-content-md-center">
    <div class="col col-md-9">
        <div class="row guide-sections-card-deck">
            @foreach (var docSection in Model) {
                <div class="col-md-4">
                <div class="card">
                    <a class="card-block" href="/Guide/@docSection.Metadata["ShortTitle"]">
                        <i class="card-icon-top fa fa-@docSection.Metadata["Icon"]" aria-hidden="true"></i>
                        <h4 class="card-title">@docSection.Metadata["Title"]</h4>
                        <p class="card-text"><small class="text-muted">@docSection.Metadata["Intro"]</small></p>
                    </a>
                </div>
                </div>
            }
        </div>
    </div>
</div>