/* Grain Grid */

.grain-grid {
    list-style: none;
    padding-left: 0;

    li {
        position: relative;
        width: 24%;
        display: inline-block;
        //Border
        padding: 0.2em;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 1rem;

        a {
            position: absolute;
            overflow: hidden;
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            background: lightgrey;

            .delete {
                position: absolute;
                right: 0;
                top: 0;
                background-color: white;
                width: 30px;
                height: 25px;
                text-align: center;
                font-size: 1.6em;
            }

            .img-container {
                height: 100%;
                width: 100%;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;            
                }
            }

            .Latitude {
                display: none;
            }

            .Longitude {
                display: none;
            }
        }
    }

    li:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

//Responsive Images
.portrait img {
    width: 100%;
}

.landscape img {
    height: 100%;
}

//Number of grains per row
.tens li {
    width: 10%;
}

.sixes li {
    width: 16%;
}

.pairs li {
    width: 49%;
}

@media (max-width: 350px) {
    .tens li {
        width: 49% !important;
    }

    .sixes li {
        width: 49% !important;
    }
}

@media (max-width: 510px) {
    .grain-grid li {
        width: 49% !important;
    }

    .tens li {
        width: 24% !important;
    }

    .sixes li {
        width: 24% !important;
    }

    .pairs li {
        width: 49% !important;
    }
}

/* Ribbons for Corner of Images */
.ribbon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 1.2em;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    opacity:0.7;
    width: 30px;
    display: block;
    background: #83296F;
    position: absolute;
    top: 5px;
    right: 5px;
}

.img-container {
    overflow: hidden;
}
