.ref-collection-list {
    list-style: none;
    padding: 0;

    li {
        background-color: #f5f5f5;
        margin-bottom: 0.5em;
        border: 1px solid transparent;
        border-radius: 0.2em;
        overflow: hidden;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        padding: 1em;
        position: relative;

        .region-label {
            position: absolute;
            text-transform: uppercase;
            right: 1.2em;
            color: purple;
            bottom: 0;
        }
    }
}

.table-orig-name {
    display:block;
}

.required-symbol {
    color: red;
}

.input-group-addon {
    border-radius: 0;
}

#reference-table {
    .thead-default {
        tr {
            th {
                background-color: #9b538b;
                color: #fff;
            }
        }
    }
}