/* Global Pollen Project: Colour Palette */

$primary-color: #9b538b;
$primary-color-accent: #652543;

$clr-primary:green;
$clr-secondary:green;
$clr-tertiary:green;

//Buttons
$clr-button-primary:green;
$clt-button-primary-focus:green;
$clr-button-default:white;
$clr-button-default-focus:white;
$clr-button-disabled:#222222;

//Text
$clr-text-primary: #536171